html *
{
   font-family: 'Ubuntu', sans-serif !important;
}

body{
    background-image: url('https://i.pinimg.com/originals/da/f6/18/daf61862ec45445931d2216778e92af8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #979899; 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #979899; 
}


#event-category{
    height: max-content;
    width: 90% ; 
    background-color: #131414;
    margin:2%;
    border-radius: 15px;
}

.navbar{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#category-navbar{
    height:max-content;
    border-bottom : 2px solid lightgrey ; 
}
#category-navbar .navbar {
    padding-top: 18px;
}

li{
    /* margin: 5px; */
    cursor: pointer;
}

.navbar>li{
    padding: 15px;
    border: 2px solid grey;
    border-radius: 9px;
    font-weight: bolder;
    color:lightgray;
}

.navbar>li:hover{
    background: lightgray;
    color: black;
}

#subcategory-navbar{
    width: 70%;
}

#event-sub-category{
    height: 90%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(  90deg ,#6e797e,#4f5a60,#6084a0e6);
}

#cards{
    height:100%;
    width: 95%;
    border-right: 2px solid lightgrey;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height:500px;
    width:400px;
    margin:20px;
    display: flex;
    flex-direction: column;
    position:relative;
}

#tags{
    height:100%;
    width: 30%;
}

.tag-list>li{
    margin: 10px ; 
}

#tags h3{
    text-align: center;
    color: #ffe5e5 ; 
}

.tag-list{
    list-style:none;
}

.tag-list li{
    color: #000000 ; 
    font-weight: bold;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #eee;
    /* background-image: linear-gradient(  90deg ,#2e373c,#663f3f,#32302b); */
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    width: max-content;
}

#cards{
    display: flex;
    justify-content: space-around;
}


.card img{
    height: 25%;
    width: 100%;
    border-bottom:1px solid grey ; 
}

.card-name{
    font-size: 1.5rem;
    font-weight:bold;
    margin : 10px;
}

.card-details{
    display: flex;
    flex-direction: row;
    border :  2px solid black ;
    border-radius: 10px;
    margin: 5px;
}

.card-details p{
    margin:10px;
}

.card-date{
    vertical-align: middle;
    border-right :  2px solid black ;
    width: 70%;
}

.card-fee-venue{
    text-align: center;

}

.card-fee-venue div{
    margin:5px;
}

.card-desc{
    margin : 10px;
}

.card-tag{
    border: 1px solid grey;
    padding: 4px ; 
    width:max-content;
    margin:10px;
    border-radius: 6px;
    background-color:lightgray;
}

.card-tag span{
    font-size: 13px;
    padding:3px;
}

.card-footer{
    position: absolute;
    bottom: 17px;
    padding-left: 11px;
    padding-top: 5px;
    border-top: 2px solid black ;
    width: 100%;
}

.card-footer img{
    position: relative;
    top: 5px;
    height:25px;
    width: 25px;
    border: none;
    border-radius: 50%;
}

.fee-venue{
    font-size: 0.8rem;
}
.fee-venue-ans{
    margin-top: -15%;
}