html *
{
   font-family: Sans-serif !important;
}

#event-category{
    height: max-content;
    width: 90% ; 
    background-color:lightblue;
    margin:2%;
}

.navbar{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#category-navbar{
    height:max-content;
    border : 2px solid black ; 
}

li{
    /* margin: 5px; */
    cursor: pointer;
}

.navbar>li{
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

#subcategory-navbar{
    margin: 5px 0 5px 0 ;
    width: 70%;
    border : 2px solid black ;
    /* border-top: 0;  */

}

#event-sub-category{
    height: 90%;
    width: 100%;
    background-color:lightgrey;
    display: flex;
}

#cards{
    height:100%;
    width: 95%;
    background-color: rgb(235, 228, 228);
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height:500px;
    width:400px;
    margin:20px;
}

#tags{
    height:100%;
    width: 30%;
    background-color:cyan;
}

.tag-list>li{
    margin: 10px ; 
}

#tags h3{
    text-align: center;
}

.tag-list{
    list-style:none;
}

.tag-list li{
    margin-bottom: 0.4rem;
}

#cards{
    display: flex;
    justify-content: space-around;
}


.card img{
    height: 25%;
    width: 100%;
    border-bottom:1px solid grey ; 
}

.card-name{
    font-size: 1.5rem;
    font-weight:bold;
    margin : 10px;
}

.card-details{
    display: flex;
    flex-direction: row;
    border :  2px solid black ;
    border-radius: 10px;
    margin: 5px;
}

.card-details p{
    margin:10px;
}

.card-date{
    vertical-align: middle;
    border-right :  2px solid black ;
    width: 70%;
}

.card-fee-venue{
    text-align: center;

}

.card-fee-venue div{
    margin:5px;
}

.card-desc{
    margin : 10px;
}

.card-tag{
    border: 1px solid grey;
    padding: 5px ; 
    width:max-content;
    margin:10px;
}

.fee-venue{
    font-size: 0.8rem;
}
.fee-venue-ans{
    margin-top: -15%;
}